  <body>
    <div class="cont">
      <p>Message: <%= password = "pass"
    @URLData.url = AESCrypt.decrypt(@URLData.url, password) %></p>
    <p>(one click one look:)</p>
    <% sleep(0.5)
    @URLData.destroy %>
    </div>
  </body>
